export (dist2cluster)
export (dist2graph)
export (dist2tsne)
export (p2dist)
export (plot_me)
export (do_filter)
export (l4xy)
export (do.scale)
export (combine_test)
export (plot_network)
export (pathway_map)
export (p2cluster)
importFrom("igraph", "graph_from_adjacency_matrix", "mst", "delete.edges", "components", "E", "cluster_louvain")
importFrom("stats", "as.dist")
importFrom("utils", "read.table")
importFrom("grDevices", "rainbow")
importFrom("graphics", "plot", "segments", "text", "rect")
importFrom("Rtsne", "Rtsne")
importFrom("qgraph", "qgraph.layout.fruchtermanreingold")
importFrom("wordcloud", "textplot")
